@page
@using Microsoft.Extensions.Localization
@using HSaaS.Dashboard.Localization
@model HSaaS.Dashboard.Web.Pages.Dashboard.IndexModel
@inject IStringLocalizer<DashboardResource> L
@{
}
<h1>Dashboard</h1>
<p>@L["SamplePageMessage"]</p>
