@page
@using Microsoft.Extensions.Localization
@using MasterData.Localization
@model MasterData.Web.Pages.MasterData.IndexModel
@inject IStringLocalizer<MasterDataResource> L
@{
}
<h1>MasterData</h1>
<p>@L["SamplePageMessage"]</p>
