@page
@using Microsoft.AspNetCore.Mvc.Localization
@using HSaaS.Localization
@using Volo.Abp.Users
@model HSaaS.Web.Pages.HSaaS.IndexModel
@inject IHtmlLocalizer<HSaaSResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js" />
    </abp-script-bundle>
}
<div class="container">
    <div class="text-center">
        <div class="badge badge-success h5 rounded mb-4 " role="alert">
            <h5 class="m-1"> <i class="fas fa-rocket"></i> @L["LongWelcomeMessage"]</h5>
        </div>
        @if (!CurrentUser.IsAuthenticated)
        {
            <a abp-button="Primary" href="~/Account/Login"><i class="fa fa-sign-in"></i> @L["Login"]</a>}
    </div>
    <div class="my-3 text-center">
        <div class="card-body">

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h5 class="mb-3">Document Management</h5>

                            <p>Document management and issuance application.</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <a href="~/DocumentManagement/Documents" class="small-box-footer">See Documents <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h5 class="mb-3">Master Data</h5>

                            <p>Master Data (Companies, Departments....).</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <a href="~/MasterData/Companies" class="small-box-footer">See Master Data <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!--<div class="row text-center justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-book text-secondary d-block my-3 fa-2x"></i> Document Management</h5>
                        <p>Document management and issuance application.</p>
                        <a href="~/DocumentManagement/Documents" class="btn btn-link px-1">See Documents <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4  border-left">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-database text-secondary d-block my-3 fa-2x"></i>Master Data </h5>
                        <p>Master Data.</p>
                        <a href="~/MasterData/Companies" class="btn btn-link px-1">See Master Data <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>

            </div>-->

        </div>
    </div>
</div>
