@page "/Dashboard"
@using Microsoft.Extensions.Localization
@using global::HSaaS.Dashboard.Localization
@inject IStringLocalizer<DashboardResource> L
@{
}
<h1>Dashboard</h1>
<p>@L["SamplePageMessage"]</p>