@page "/MasterData"
@using Microsoft.Extensions.Localization
@using global::MasterData.Localization
@inject IStringLocalizer<MasterDataResource> L
@{
}
<h1>MasterData</h1>
<p>@L["SamplePageMessage"]</p>